@model MVCIntegratie.Models.DeelplatformModel

@{ Layout = ""; }

<script src="~/Scripts/jquery-3.0.0.min.js"></script>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")


<img src="~/Images/banner.jpg" style="width:100%; height:30%;"/>
<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.MijnDeelplatformen.Count != 0)
        {
            <div class="row">
                <h2>Open één van uw platformen</h2>
                <table>
                    <tr>
                        <th>Naam</th>
                    </tr>
                    @foreach (var platform in Model.MijnDeelplatformen)
                    {
                        <tr>
                            <td><a href="@Url.Action("Index", "Home", new { deelplatform = platform.Naam }, null)">@platform.Naam</a></td>
                        </tr>
                    }
                </table>
            </div>
        }

        if (Model.AndereDeelplatformen.Count != 0)
        {
            <div class="row">
                <h2>Registreer op een deelplatform</h2>
                <table>
                    <tr>
                        <th>Naam</th>
                        <th></th>
                    </tr>
                    @foreach (var platform in Model.AndereDeelplatformen)
                    {
                        <tr>
                            <td>@platform.Naam</td>
                            <td><button class="btn btn-success" onclick="registreer(@platform.ID, '@platform.Naam')">Registreer</button></td>
                        </tr>
                    }
                </table>
            </div>
        }
    }
    else
    {
        <h1>Kies hier een deelplatform</h1>
    
        <hr />
            foreach (var platform in Model.AndereDeelplatformen)
            {

            <div class="row">
                <div class="col-md-3"><h4>@platform.Naam</h4></div>
                <div class="col-md-1"><a class="btn btn-success deelplatformkiesknop" href="@Url.Action("Index", "Home", new { deelplatform = platform.Naam }, null)">Kies</a></div>
            </div>
            <hr />

            }
    }
</div>

<script>
   function registreer(id, deelplatform) {
      class Deelplatform {
         constructor(id) {
            this.id = id;
         }
      }

      var platform = new Deelplatform(id);

      var json = naarJsonFormaat(platform);

      $.ajax('/api/Config/RegistreerDeelplatform', {
         type: 'POST',
         contentType: "application/json",
         accepts: 'application/json',
         data: json
      }).done(function () {
         document.location.href = '/@ViewContext.RouteData.Values["language"]' + "/" + deelplatform + "/Home/Index";
         //document.location.reload();
      }).fail(function () {
         alert('Er is iets misgelopen bij het registreren, probeer later opnieuw');
      });
   }
</script>