@model List<BL.Domain.Deelplatform>

@if (User.Identity.IsAuthenticated)
{
   if (Model.Count == 0)
   {
      <h2>Registreer op een deelplatform</h2>
      <h1>U bent nog niet geregistreerd op een deelplatform, gelieve dit eerst te doen</h1>
      <table>
         <tr>
            <th>Naam</th>
            <th></th>
         </tr>
         @foreach (var platform in Model)
         {
            <tr>
               <td>@platform.Naam</td>
               <td><button class="btn btn-success" onclick="registreer(@platform.ID, '@platform.Naam')">Registreer</button></td>
            </tr>
         }
      </table>
   }
   else
   {
      <h2>Open één van uw platformen</h2>
      <table>
         <tr>
            <th>Naam</th>
         </tr>
         @foreach (var platform in Model)
         {
            <tr>
               <td><a href="@Url.Action("Index", "Home", new { deelplatform = platform.Naam }, null)">@platform.Naam</a></td>
            </tr>
         }
      </table>
   }
}
else
{
   <h2>Kies hier een deelplatform</h2>

   <table>
      <tr>
         <th>Naam</th>
      </tr>
      @foreach (var platform in Model)
      {
         <tr>
            <td><a href="@Url.Action("Index", "Home", new { deelplatform = platform.Naam }, null)">@platform.Naam</a></td>
         </tr>
      }
   </table>
}

<script>
   function registreer(id, deelplatform) {
      class Deelplatform {
         constructor(id) {
            this.id = id;
         }
      }

      var platform = new Deelplatform(id);

      var jsonG = JSON.stringify(platform);

      var json = '"';

      for (var i = 0; i < jsonG.length; i++) {
         var ch = jsonG.charAt(i);
         if (ch == '"') {
            json += "'";
         } else {
            json += ch;
         }
      }

      json += '"';

      $.ajax('/api/Config/RegistreerDeelplatform', {
         type: 'POST',
         contentType: "application/json",
         accepts: 'application/json',
         data: json
      }).done(function () {
         document.location.href = '/@ViewContext.RouteData.Values["language"]' + "/" + deelplatform + "/Home/Index";
         //document.location.reload();
      }).fail(function () {
         alert('Er is iets misgelopen bij het registreren, probeer later opnieuw');
      });
   }
</script>