@model MVCIntegratie.Models.DeelplatformModel

@if (User.Identity.IsAuthenticated)
{
   if (Model.MijnDeelplatformen.Count != 0)
   {
      <div class="row">
         <h2>Open één van uw platformen</h2>
         <table>
            <tr>
               <th>Naam</th>
            </tr>
            @foreach (var platform in Model.MijnDeelplatformen)
            {
               <tr>
                  <td><a href="@Url.Action("Index", "Home", new { deelplatform = platform.Naam }, null)">@platform.Naam</a></td>
               </tr>
            }
         </table>
      </div>
   }

   if (Model.AndereDeelplatformen.Count != 0)
   {
      <div class="row">
         <h2>Registreer op een deelplatform</h2>
         <table>
            <tr>
               <th>Naam</th>
               <th></th>
            </tr>
            @foreach (var platform in Model.AndereDeelplatformen)
            {
               <tr>
                  <td>@platform.Naam</td>
                  <td><button class="btn btn-success" onclick="registreer(@platform.ID, '@platform.Naam')">Registreer</button></td>
               </tr>
            }
         </table>
      </div>
   }
}
else
{
   <h2>Selecteer een deelplatform</h2>

   <table>
      <tr>
         <th>Naam</th>
      </tr>
      @foreach (var platform in Model.AndereDeelplatformen)
      {
         <tr>
            <td><a href="@Url.Action("Index", "Home", new { deelplatform = platform.Naam }, null)">@platform.Naam</a></td>
         </tr>
      }
   </table>
}

<script>
   function registreer(id, deelplatform) {
      class Deelplatform {
         constructor(id) {
            this.id = id;
         }
      }

      var platform = new Deelplatform(id);

      var json = naarJsonFormaat(platform);

      $.ajax('/api/Config/RegistreerDeelplatform', {
         type: 'POST',
         contentType: "application/json",
         accepts: 'application/json',
         data: json
      }).done(function () {
         document.location.href = '/@ViewContext.RouteData.Values["language"]' + "/" + deelplatform + "/Home/Index";
         //document.location.reload();
      }).fail(function () {
         alert('Er is iets misgelopen bij het registreren, probeer later opnieuw');
      });
   }
</script>