@model MVCIntegratie.Models.RegisterViewModel
@{
    /**/

    ViewBag.Title = "Register";
}

@Styles.Render("~/Content/Layout.css")
<link rel="stylesheet" href="~/Content/Layout.css">
<link rel="stylesheet" href="~/Content/Site.css">

<div class="col-md-8">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h2> Registreren of <strong id="loginlink">@Html.ActionLink("aanmelden", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</strong></h2>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Voornaam, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Voornaam, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Achternaam, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Achternaam, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Geboortedatum, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Geboortedatum, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Postcode, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Beveiligingsvraag, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Beveiligingsvraag,
                      new List<SelectListItem>
                       {
            new SelectListItem { Value = "0" , Text = "Wat is de geboorteplaats van je moeder?" },
            new SelectListItem { Value = "1" , Text = "Wat is de geboorteplaats van je vader?" },
            new SelectListItem { Value = "2" , Text = "Wat was het merk van je eerste auto?" },
            new SelectListItem { Value = "3" , Text = "Wat is de naam van je beste jeugdvriend?" },
            new SelectListItem { Value = "4" , Text = "Met wie was je eerste kus?" },
            new SelectListItem { Value = "5" , Text = "In welke straat stond je eerste eigen huis?" },
            new SelectListItem { Value = "6" , Text = "Wat is de naam van je eerste huisdier?" }
                       },
                       new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Antwoord, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Antwoord, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" value="Registreer" />
            </div>
        </div>
     

    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
