@model List<BL.Domain.FAQ>

@{
   Layout = "";
}

<h2>FAQ</h2>

<table id="vragen" style="width:100%">
   <tr>
      <th>Vraag</th>
      <th>Categorie</th>
      <th>Gesteld Op</th>
      <th>Beantwoord</th>
   </tr>
   @foreach (var faq in Model)
   {
      <tr>
         <td>@faq.Vraag</td>
         <td>@faq.Categorie.ToString()</td>
         <td>@faq.GesteldOp.ToShortDateString() - @faq.GesteldOp.ToShortTimeString()</td>
         <td>@faq.Beantwoord</td>
         <td><input type="button" class="btn btn-success" value="Wijzig" id="@faq.ID" onclick="wijzigVraag(this.id)" /></td>
      </tr>
   }
</table>
<div id="wijzigen" style="display:none">
   <div>
      <label id="vraagID" style="display:none">ID</label>
   </div>
   <div>
      <label for="vraag">Vraag:</label>
      <input id="vraag" name="vraag" type="text" value="" />
   </div>
   <div>
      <label for="categorie">Categorie:</label>
      <select id="categorie" name="categorie" type="text" value="">
         <option value="0">De Website</option>
         <option value="1">Mijn Account</option>
         <option value="2">Notificaties</option>
         <option value="3">Overige Problemen</option>
      </select>
   </div>
   <div class="row" style="margin:0">
      <label for="antwoord">Antwoord:</label>
      <textarea rows="3" id="antwoord" name="antwoord" value=""></textarea>
   </div>
   <div>
      <label for="voorbeeld">Voorbeeld:</label>
      <input id="voorbeeld" name="voorbeeld"  type="text" value="" />
   </div>
   <div>
      <label for="beantwoord">Beantwoord:</label>
      <select id="beantwoord" name="beantwoord" type="text" value="">
         <option value="0">Nee</option>
         <option value="1">Ja</option>
      </select>
   </div>
   <div class="row" style="margin:0">
      <input id="antwoordOpslaan" onclick="antwoordOpslaan();" class="btn btn-success" type="button" value="Opslaan" />
      <input id="antwoordAnnuleren" onclick="antwoordAnnuleren();" class="btn btn-danger" type="button" value="Annuleren" />
      <input id="vraagVerwijderen" onclick="vraagVerwijderen();" class="btn btn-danger" type="button" value="Vraag Verwijderen" />
   </div>
</div>

<script>
   var tableVragen = document.getElementById("vragen");
   var divWijzigen = document.getElementById("wijzigen");

   var lblID = document.getElementById("vraagID");
   var inpVraag = document.getElementById("vraag");
   var inpAntwoord = document.getElementById("antwoord");
   var inpVoorbeeld = document.getElementById("voorbeeld");
   var inpCategorie = document.getElementById("categorie");
   var inpBeantwoord = document.getElementById("beantwoord");

   function wijzigVraag(id) {
      lblID.innerHTML = id;
      inpAntwoord.value = "";

      $.ajax('/api/FYI/GetFAQ/' + id,
         {
            type: 'GET',
            dataType: 'json'
         }).done(function (data) {
            inpVraag.value = data["Vraag"];
            inpAntwoord.value = data["Antwoord"];
            inpCategorie.value = data["Categorie"];
            inpVoorbeeld.value = data["Voorbeeld"];
            if (data["Beantwoord"] == true) {
               inpBeantwoord.value = 1;
            } else {
               inpBeantwoord.value = 0;
            }
            divWijzigen.style.display = "block";
            tableVragen.style.display = "none";
         }).fail(function () {
            alert('fail');
         });
   }

   class AntwoordJson {
      constructor(id, vraag, antwoord, categorie, voorbeeld, beantwoord) {
         this.id = id;
         this.vraag = vraag;
         this.antwoord = antwoord;
         this.categorie = categorie;
         this.voorbeeld = voorbeeld;
         this.beantwoord = beantwoord;
      }
   }

   function antwoordOpslaan() {
      var id = lblID.innerHTML;

      var beantwoord = false;

      if (inpBeantwoord.value == 1) {
         beantwoord = true;
      }

      var antwoord = new AntwoordJson(id, inpVraag.value, inpAntwoord.value, inpCategorie.value, inpVoorbeeld.value, beantwoord);

      var jsonG = JSON.stringify(antwoord);

      var json = '"';

      for (var i = 0; i < jsonG.length; i++) {
         var ch = jsonG.charAt(i);
         if (ch == '"') {
            json += "'";
         } else {
            json += ch;
         }
      }

      json += '"';

      $.ajax('/api/FYI/VraagWijzigen', {
         type: 'POST',
         contentType: "application/json",
         accepts: 'application/json',
         data: json
      }).done(function (data) {
         document.location.reload();
      }).fail(function () {
         alert('fail');
      });
   }

   function antwoordAnnuleren() {
      lblID.innerHTML = "ID";
      divWijzigen.style.display = "none";
      tableVragen.style.display = "table";
   }

   function vraagVerwijderen() {
      var f = new AntwoordJson(lblID.innerHTML, "", "", 0, "", false);
      var jsonG = JSON.stringify(f);

      var json = '"';

      for (var i = 0; i < jsonG.length; i++) {
         var ch = jsonG.charAt(i);
         if (ch == '"') {
            json += "'";
         } else {
            json += ch;
         }
      }

      json += '"';

      $.ajax('/api/FYI/VraagVerwijderen', {
         type: 'POST',
         contentType: "application/json",
         accepts: 'application/json',
         data: json
      }).done(function (data) {
         document.location.reload();
      }).fail(function () {
         alert('fail');
      });
   }
</script>