@model BL.Domain.ItemKlassen.Persoon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Persoon</h4>
    <hr />
    <dl class="dl-horizontal">
       <dt>
          @Html.DisplayNameFor(model => model.Naam)
       </dt>

       <dd>
          @Html.DisplayFor(model => model.Naam)
       </dd>

       <dt>
          @Html.DisplayNameFor(model => model.Berichten)
       </dt>

       <dd>
          @Html.ActionLink("Toon Berichten van Persoon", MVC.Bericht.Index(Model.Naam))
       </dd>
    </dl>
</div>
<p>
   @Html.ActionLink("Edit", "Edit", new { id = Model.Naam }) |
   <!--@Html.ActionLink("Back to List", "Index")-->
</p>
