@model MVCIntegratie.Models.PersoonModel
@using BL.Domain.BerichtKlassen;

@{
    ViewBag.Title = Model.Persoon.Naam;
}

<link href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/Layout.css">
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<!--<script src="~/Scripts/Chart.js"></script>-->
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<h2>Details</h2>

<div>
    <h4>@Model.Persoon.Naam</h4>
    <h1>@Model.Persoon.Berichten.Count</h1>
    <h5>Politieke Partij</h5>
    <h6>@Model.Persoon.Organisatie.Naam</h6>
    <h5>District</h5>
    <h6>@Model.Persoon.District</h6>
    <h5>Sociale Media</h5>
    <p>
        @Model.Persoon.Twitter<br />
        @Model.Persoon.Facebook<br />
    </p>
    <table>
        <tr>
            <th>Vermeldingen per keywoord</th>
            <th>Trend per keywoord</th>
        </tr>
        @foreach (Woord woord in Model.Keywoorden)
    {
        
        <tr>
            @woord.Tekst</tr>
        <tr>
            <td>@woord.Berichten.Where(b => b.Mentions.Where(m => m.Tekst.Contains(Model.Persoon.Naam)) != null).Count();</td>
            <!-- <td>woord.Berichten.SingleOrDefault(b => b.Sentiment !=null)</td>-->

        </tr>
        

}
    </table>

    <h5>Links</h5>
    <p>
        @foreach (Url url in Model.Urls)
        {
        <a href="@url.Tekst"> @url.Tekst</a><br/>
        }
    </p>
    <hr />
</div>

<div class="col-sm-12 col-md-12">
    <div id="@Model.Grafiek.ID" style="min-width: 310px; height: 250px; margin: 0 auto"></div>
</div>

<script>
         var elem = document.getElementById('@Model.Grafiek.ID');
         if (elem != null) {
            var chart = Highcharts.chart('@Model.Grafiek.ID',
               {
                  @if (!(Model.Grafiek.Chart.Type.Equals("normal")))
                  {
                     <text>
                     chart:
                     {
                           @if(Model.Grafiek.Chart.Type.Equals("pie"))
                           {
                        <text>
                           plotBackgroundColor: null,
                           plotBorderWidth: null,
                     plotShadow: @Model.Grafiek.GetBoolString(Model.Grafiek.Chart.PlotShadow),
                        </text>
                     }
/**/
                        type: '@Model.Grafiek.Chart.Type'
                     },
                     </text>
                  }

                  title: {
                     text: '@Model.Grafiek.Titel'
                  },

                  @if (Model.Grafiek.Chart.Type.Equals("pie"))
                  {
                     <text>
                  tooltip: {
                     pointFormat: '@Html.Raw(Model.Grafiek.Tooltip)'
                  },
                     </text>
                  }

                  @if (Model.Grafiek.yAs.IsUsed == true)
                  {
                     <text>
                  yAxis: {
                     title: {
                        text: '@Model.Grafiek.yAs.Titel'
                     }
                  },
                  </text>
                  }

                  @if (Model.Grafiek.xAs.IsUsed == true)
                  {
                     <text>
                  xAxis: {
                     categories: @Html.Raw(Model.Grafiek.xAs.GetCategorieen())
                  },
                  </text>
                  }

                  @if (Model.Grafiek.Chart.Type.Equals("normal"))
                  {
                     <text>
                  xAxis: {
                     type: 'datetime'
                  },
                  </text>
                  }


                  @if (Model.Grafiek.Chart.Type.Equals("column"))
                  {
                     <text>
                  credits: {
                     enabled: @Model.Grafiek.GetBoolString(Model.Grafiek.Credits)
                  },
                     </text>
                  }

                  @if (Model.Grafiek.Legende.Layout != null){
                     <text>
                  legend: {
                     layout: '@Model.Grafiek.Legende.Layout',
                     align: '@Model.Grafiek.Legende.Alignment',
                     verticalAlign: '@Model.Grafiek.Legende.VerticalAlign'
                  },
                  </text>
                  }

                  @if (Model.Grafiek.PlotOptions.PointStart != null || Model.Grafiek.PlotOptions.Cursor != null)
                  {
                     <text>
                  plotOptions: {
                     @if (Model.Grafiek.Chart.Type.Equals("pie"))
                     {
                        <text>
                     pie: {
                           allowPointSelect: @Model.Grafiek.GetBoolString(Model.Grafiek.PlotOptions.AllowPointSelect),
                        cursor: '@Model.Grafiek.PlotOptions.Cursor',
                        dataLabels: {
                              enabled: @Model.Grafiek.GetBoolString(Model.Grafiek.PlotOptions.DataLabels)
                        },
                           showInLegend: @Model.Grafiek.GetBoolString(Model.Grafiek.PlotOptions.ShowInLegend)
                     }
                     </text>
                     }
                     else
                     {
                        <text>
                        series:
                        {
                           label:
                           {
                              connectorAllowed: @Model.Grafiek.PlotOptions.getBool(Model.Grafiek.PlotOptions.SeriesLabelConnector)
                              },
                              @if (Model.Grafiek.Chart.Type.Equals("normal"))
                              {
                                 var PI = 0;
                                 switch (Model.Grafiek.TitelXAs)
                                 {
                                    case "dag":
                                       PI = 24 * 3600 * 1000;
                                       break;
                                    case "week":
                                       PI = 24 * 3600 * 1000 * 7;
                                       break;
                                 }
                                 <text>
                              pointStart: @Model.Grafiek.PlotOptions.PointStart
                              , pointInterval: @PI</text>
                              }
                           }
                        </text>
                     }
                  },
                  </text>
                  }

                  series: [
                     @for(int i = 0; i < Model.Grafiek.Series.Count; i++)
                     {
                     var serie = Model.Grafiek.Series[i];
                           <text>
                     {
                        name: '@serie.Naam',
                        @if (Model.Grafiek.Chart.Type.Equals("pie"))
                        {
                           <text>
                        colorByPoint: @Model.Grafiek.GetBoolString(serie.ColorByPoint),
                        data: [
                           </text>
                           for(int j = 0; j < serie.Data.Count; j++)
                           {
                              var data = serie.Data[j];
                           <text>
                           {
                              name: '@data.Naam',
                              y: @data.Value.ToString().Replace(",", "."),
                              sliced: @Model.Grafiek.GetBoolString(data.Sliced),
                              selected: @Model.Grafiek.GetBoolString(data.Selected)
                           }
                        </text>
                           if (j != serie.Data.Count - 1)
                              {
                                 <text> , </text>
                              }
                           }
                           <text>] }</text>
                        }
                        else
                        {
                           <text>
                        data: @serie.GetDataString()
                           }
                           </text>
                        }

                     @if(i != Model.Grafiek.Series.Count - 1)
                              {
                                 <text>
                                 ,
                                 </text>
                              }
/**/
                        </text>
                     }
                  ]
               });
         };
</script>

