@model List<BL.Domain.FAQ>

@{
   ViewBag.Title = "FAQ";
}
<script src="~/Scripts/faq.js"></script>
<link rel="stylesheet" href="~/Content/faq.css">
<h2>FAQ</h2>

<div class="container">
   <div class="col-md-4">
      <ul class="list-group help-group">
         <div class="faq-list list-group nav nav-tabs">
            <a href="#tab1" class="list-group-item active" role="tab" data-toggle="tab" id="defaultfaq">Frequently Asked Questions</a>
            <a href="#tab2" class="list-group-item faqlist active" role="tab" data-toggle="tab" id="websitefaq" onclick="website('websitefaq','defaultfaq')"><i class="mdi mdi-website"></i>De website</a>
            <a href="#tab3" class="list-group-item faqlist" role="tab" data-toggle="tab" id="accountfaq" onclick="account('accountfaq','defaultfaq')"><i class="mdi mdi-account"></i>Mijn account</a>
            <a href="#tab4" class="list-group-item faqlist" role="tab" data-toggle="tab" id="notiffaq" onclick="notif('notiffaq','defaultfaq')"><i class="mdi mdi-notificatie"></i>Notificaties</a>
            <a href="#tab5" class="list-group-item faqlist" role="tab" data-toggle="tab" id="overigfaq" onclick="overig('overigfaq','defaultfaq')"><i class="mdi mdi-overig"></i>Overige problemen</a>
            <a href="#tab6" class="list-group-item faqlist" role="tab" data-toggle="tab" id="vraagfaq" onclick="vraag('vraagfaq','defaultfaq')">Stel zelf een vraag</a>
         </div>
      </ul>
   </div>
   @{
      var intTeller = 0;
   }
   <div class="col-md-8">
      <div class="tab-content panels-faq">
         <div class="tab-pane active" id="tab2">
            <div class="panel-group" id="help-accordion-1">

               @foreach (var faq in Model.Where(m => m.Categorie == BL.Domain.FAQCategorie.Website))
               {
                  var refer = "#web" + intTeller;
                  var id = "web" + intTeller++;

                  if (faq.Beantwoord == true)
                  {
                     <div class="panel panel-default panel-help">
                        <a href="@refer" data-toggle="collapse" data-parent="#help-accordion-1">
                           <div class="panel-heading">
                              <h2>@faq.Vraag</h2>
                           </div>
                        </a>
                        <div id="@id" class="collapse">
                           <div class="panel-body">
                              <p>@faq.Antwoord</p>
                              @if (faq.Voorbeeld != "")
                              {
                                 <p><strong>Voorbeeld: </strong>@faq.Voorbeeld</p>
                              }
                           </div>
                        </div>
                     </div>
                  }
               }
            </div>
         </div>
         <div class="tab-pane" id="tab3">
            <div class="panel-group" id="help-accordion-2">
               @foreach (var faq in Model.Where(m => m.Categorie == BL.Domain.FAQCategorie.Account))
               {
                  var refer = "#acc" + intTeller;
                  var id = "acc" + intTeller++;

                  if (faq.Beantwoord == true)
                  {
                     <div class="panel panel-default panel-help">
                        <a href="@refer" data-toggle="collapse" data-parent="#help-accordion-2">
                           <div class="panel-heading">
                              <h2>@faq.Vraag</h2>
                           </div>
                        </a>
                        <div id="@id" class="collapse">
                           <div class="panel-body">
                              <p>@faq.Antwoord</p>
                              @if (faq.Voorbeeld != "")
                              {
                                 <p><strong>Voorbeeld: </strong>@faq.Voorbeeld</p>
                              }
                           </div>
                        </div>
                     </div>
                  }
               }
            </div>
         </div>
         <div class="tab-pane" id="tab4">
            <div class="panel-group" id="help-accordion-3">
               @foreach (var faq in Model.Where(m => m.Categorie == BL.Domain.FAQCategorie.Notificaties))
               {
                  var refer = "#not" + intTeller;
                  var id = "not" + intTeller++;

                  if (faq.Beantwoord == true)
                  {
                     <div class="panel panel-default panel-help">
                        <a href="@refer" data-toggle="collapse" data-parent="#help-accordion-3">
                           <div class="panel-heading">
                              <h2>@faq.Vraag</h2>
                           </div>
                        </a>
                        <div id="@id" class="collapse">
                           <div class="panel-body">
                              <p>@faq.Antwoord</p>
                              @if (faq.Voorbeeld != "")
                              {
                                 <p><strong>Voorbeeld: </strong>@faq.Voorbeeld</p>
                              }
                           </div>
                        </div>
                     </div>
                  }
               }
            </div>
         </div>
         <div class="tab-pane" id="tab5">
            <div class="panel-group" id="help-accordion-4">

               @foreach (var faq in Model.Where(m => m.Categorie == BL.Domain.FAQCategorie.Overig))
               {
                  var refer = "#over" + intTeller;
                  var id = "over" + intTeller++;

                  if (faq.Beantwoord == true)
                  {
                     <div class="panel panel-default panel-help">
                        <a href="@refer" data-toggle="collapse" data-parent="#help-accordion-4">
                           <div class="panel-heading">
                              <h2>@faq.Vraag</h2>
                           </div>
                        </a>
                        <div id="@id" class="collapse">
                           <div class="panel-body">
                              <p>@faq.Antwoord</p>
                              @if (faq.Voorbeeld != "")
                              {
                                 <p><strong>Voorbeeld: </strong>@faq.Voorbeeld</p>
                              }
                           </div>
                        </div>
                     </div>
                  }
               }
            </div>
         </div>
         <div class="tab-pane" id="tab6">
            <div class="panel-group">
               <div id="divVraag" style="display:block">
                  <div class="row">
                     <label style="width:20%" for="vraag">Uw Vraag:</label>
                     <input id="vraag" type="text" value="" placeholder="Stel Hier Uw Vraag..." style="width:60%" class="form-control faqzelfinvullentekstveld" />
                  </div>
                  <div class="row">
                     <label style="width:20%" for="categorie">Categorie:</label>
                     <select style="width:60%" id="categorie" class="form-control faqzelfinvullentekstveld">
                        <option value="0">De Website</option>
                        <option value="1">Mijn Account</option>
                        <option value="2">Notificaties</option>
                        <option value="3">Overige Problemen</option>
                     </select>
                  </div>
                  <div class="row">
                     <input type="button" class="btn btn-success" value="Verzenden" onclick="verzendVraag();" />
                  </div>
               </div>
               <div id="divVerzonden" style="display:none">
                  <p>Uw vraag wordt weergegeven als de beheerder deze heeft gecontroleerd en beantwoord!</p>
               </div>
               <div id="divError" style="display:none">
                  <p>Er is iets misgelopen, probeer later opnieuw...</p>
               </div>
               <div id="divLeeg" style="display:none">
                  <p>Gelieve het veld vraag in te vullen</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>