@model IEnumerable<BL.Domain.Alert>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/Layout.css">
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
   <tr>
      <th>
         @Html.DisplayNameFor(model => model.Gebruiker)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.Verzendwijze)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.Percentage)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.Type)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.Veld)
      </th>
      <th></th>
   </tr>

@foreach (var item in Model) {
   <tr>
      <td>
         @Html.DisplayFor(modelItem => item.Gebruiker.UserName)
      </td>
      <td>
         @Html.DisplayFor(modelItem => item.Verzendwijze)
      </td>
      <td>
         @Html.DisplayFor(modelItem => item.Percentage)
      </td>
      <td>
         @Html.DisplayFor(modelItem => item.Type)
      </td>
      <td>
         @Html.DisplayFor(modelItem => item.Veld)
      </td>
      <td>
         @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
         @Html.ActionLink("Details", "Details", new { id = item.ID }) |
         @Html.ActionLink("Delete", "Delete", new { id = item.ID })
      </td>
   </tr>
}

</table>
